<div class="row">
	<div class="col-md-8">
		<canvas id="canvas" width="800" height="1123" style="background: url(<%= @submission.pages[0].url %>) no-repeat"></canvas>
	</div>
	<div class="col-md-4">
		<%= render 'form' %>
	</div>	
</div>
<script type="text/javascript">
	var sketch = new Sketch("canvas");
</script>

<%= link_to 'Back', submission_annotations_path(@submission) %>
