<script type="text/javascript">
  $(document).ready(function(){
    var sketch = new Sketch("canvas");
    var jsonTA = document.getElementById("json");
    var dataTA = document.getElementById("data");
    $("#clearBtn").click(function(){
       sketch.clear();
    });
    $("#showJsonBtn").click(function(){
       jsonTA.value = sketch.getJSON();
    });
    $("#applyJsonBtn").click(function(){
      sketch.loadJSON(jsonTA.value);
    });
  });
</script>
<div class="row">
	<div class="col-md-8">
    <input type="button" value="Clear Screen" id="clearBtn" >
    <input type="button" value="Show JSON" id="showJsonBtn" >
		<canvas id="canvas" width="800" height="1123" style="background: url(<%= @submission.pages[0].url %>) no-repeat"></canvas>
	</div>
	<div class="col-md-4">
    <h2 style="text-a lign: center;"><%= @submission.roll %></h2>
		<%= render 'form' %>
	</div>	
</div>
<%= link_to 'Back', submission_annotations_path(@submission) %>
